a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.greetings {
  width: 100%;
  height: 937px;
  background-color: #D9D7F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 50;
}

.greetings .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'SDSamliphopangche_Outline';
  font-size: 3rem;
}

.greetings .greeting span {
  margin-bottom: 20px;
}

.greetings .login_form {
  width: 20%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.greetings .login_form input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 75%;
  border-bottom: 1px solid #FFFDDE;
  padding-bottom: 5px;
  font-family: 'LeeSeoyun';
  text-align: center;
  font-size: 1.5rem;
}

.greetings .login_form button {
  outline: none;
  border: none;
  width: 20%;
  height: 40px;
  border-radius: 15px;
  background-color: #FFFDDE;
  cursor: pointer;
  font-family: 'LeeSeoyun';
  font-size: 1.3rem;
  color: lightslategrey;
}

.greetings .login_form button:hover {
  background-color: #fffaaf;
}

.greetings .login_form button:active {
  background-color: #fdf68b;
}

.greetings #welcomeGreeting {
  font-family: 'SDSamliphopangche_Outline';
  font-size: 3rem;
}

.greetings #welcomeGreeting .ti-cursor {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
}

header .inner {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .logo {
  font-family: 'Yeongdo-Rg';
  font-size: 2.5rem;
}

header .inner #clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Daheng';
}

header .inner #clock .today {
  font-size: 1.5rem;
}

header .inner #clock .time {
  font-size: 2.5rem;
}

header .inner #weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Daheng';
  font-size: 1.7rem;
}

header .inner #weather .icon_box img {
  width: 40px;
  height: 40px;
}

header .inner #weather span {
  display: inline-block;
  margin-left: 15px;
}

main {
  width: 100%;
  height: 937px;
  background: url(../images/white_background.png) center;
  background-size: 100% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .inner {
  width: 1800px;
  height: 820px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .inner #left_contents {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'LeeSeoyun';
}

main .inner #left_contents .quote_box {
  width: 70%;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  margin-bottom: 25px;
}

main .inner #left_contents .quote_box h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

main .inner #left_contents .profile {
  width: 80%;
  height: 80%;
  background-color: #D9D7F1;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #left_contents .profile .border_box {
  width: 90%;
  height: 95%;
  border: 4px solid #fff;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #left_contents .profile .border_box .img_box {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #left_contents .profile .border_box .img_box img {
  width: 110%;
  height: auto;
  -webkit-transform: translate(-3px, 2px);
          transform: translate(-3px, 2px);
}

main .inner #left_contents .profile .border_box .name {
  margin-top: 20px;
  font-size: 1.5rem;
}

main .inner #left_contents .profile .border_box .introduce {
  width: 90%;
  height: 230px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #left_contents .profile .border_box .introduce textarea {
  width: 263px;
  height: 200px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'LeeSeoyun';
  font-size: 1.1rem;
  text-align: center;
  overflow: hidden;
}

main .inner #left_contents .profile .border_box .introduce input[type="submit"] {
  width: 250px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 30px;
  font-family: 'LeeSeoyun';
  font-size: 1.1rem;
  cursor: pointer;
}

main .inner #left_contents .profile .border_box .introduce_txt {
  width: 90%;
  height: 230px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #left_contents .profile .border_box .introduce_txt .intro {
  display: block;
  width: 263px;
  height: 200px;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  font-family: 'LeeSeoyun';
  font-size: 1.1rem;
  text-align: center;
  overflow: hidden;
}

main .inner #left_contents .profile .border_box .introduce_txt img {
  width: 30px;
  cursor: pointer;
}

main .inner #center_contents {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #center_contents .daily_planner {
  width: 100%;
  height: 95%;
  background-color: #82A284;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #center_contents .daily_planner .todo_title {
  font-family: 'LeferiPoint-BlackObliqueA';
  font-size: 3.5rem;
  margin: 70px 0 50px;
}

main .inner #center_contents .daily_planner .todo_form {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #center_contents .daily_planner .todo_form input {
  width: 80%;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222;
  font-family: 'LeeSeoyun';
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 5px;
}

main .inner #center_contents .daily_planner .todo_form button {
  width: 70px;
  height: 35px;
  background-color: #E9EFC0;
  outline: none;
  border: none;
  border-radius: 20px;
  font-family: 'LeeSeoyun';
  font-size: 1.2rem;
  cursor: pointer;
}

main .inner #center_contents .daily_planner .todo_list {
  width: 80%;
  height: 450px;
  margin-top: 50px;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #E9EFC0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'LeeSeoyun';
  font-size: 1.7rem;
}

main .inner #center_contents .daily_planner .todo_list li {
  width: 80%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #center_contents .daily_planner .todo_list li span:nth-child(1) {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #FFFDDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .inner #center_contents .daily_planner .todo_list li span:nth-child(1) i {
  opacity: 0;
}

main .inner #center_contents .daily_planner .todo_list li span:nth-child(1).done {
  background-color: #FFFDDE;
}

main .inner #center_contents .daily_planner .todo_list li span:nth-child(1).done i {
  opacity: 1;
  font-size: 1.2rem;
  color: #82A284;
}

main .inner #center_contents .daily_planner .todo_list li span:nth-child(1).done + span {
  text-decoration: line-through;
  color: #555;
}

main .inner #center_contents .daily_planner .todo_list li i {
  font-size: 1.2rem;
  color: #FFA8A8;
  cursor: pointer;
  opacity: 0;
}

main .inner #center_contents .daily_planner .todo_list li i:hover {
  color: #FFCBCB;
}

main .inner #center_contents .daily_planner .todo_list li i:active {
  color: #85586F;
}

main .inner #center_contents .daily_planner .todo_list li:hover i:nth-child(3) {
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
}

main .inner #right_contents {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #right_contents .juke_box {
  width: 90%;
  height: 300px;
  background-color: #DAE5D0;
  overflow: hidden;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #right_contents .juke_box .music_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .inner #right_contents .juke_box .music_box .controls button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
}

main .inner #right_contents .juke_box .music_box .controls button img {
  width: 100%;
  height: auto;
}

main .inner #right_contents .juke_box .music_box .controls button:nth-of-type(2) img {
  width: 90%;
}

main .inner #right_contents .juke_box .copyright {
  width: 85%;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Daheng';
}

main .inner #right_contents .juke_box .copyright a {
  font-size: 1.3rem;
  color: #E8630A;
  margin-bottom: 5px;
}

main .inner #right_contents .juke_box .copyright a i {
  vertical-align: middle;
  margin-right: 5px;
}

main .inner #right_contents .book_mark {
  width: 90%;
  height: 400px;
  background-color: #F9D371;
}
